<p>dasometric-data works!</p>
<form [formGroup]="formGroup">
    <div>
      <label for="altura">Altura(m):</label>
      <input id="altura" formControlName="altura" type="number">
    </div>
    <div>
      <label for="diametro">Diámetro(cm):</label>
      <input id="diametro" formControlName="diametro" type="number">
    </div>
    <div>
      <label for="altura_primera_rama">altura_primera_rama(m):</label>
      <input id="altura_primera_rama" formControlName="altura_primera_rama" type="number">
    </div>
    <div>
      <label for="morfologia">morfologia:</label>
      <input id="morfologia" formControlName="morfologia" type="text">
    </div>
    <div>
      <label for="tipo_alcorque">tipo_alcorque:</label>
      <input id="tipo_alcorque" formControlName="tipo_alcorque" type="text">
    </div>
    <div>
      <label for="disposicion">disposicion:</label>
      <input id="disposicion" formControlName="disposicion" type="text">
    </div>
  </form>