<h1 class="text-center">Acciones</h1>

<div *ngIf="tareas && tareas.controls.length > 0">
  <div class="container text-center">
    <div *ngFor="let task of tareas.controls; let i = index" [formGroup]="task">
      <div class="row mb-3">
        <!-- Columna 1 -->
        <div class="col">
          <label for="tipo_accion" class="form-label">Tipo de acción</label>
          <input
            type="text"
            class="form-control"
            formControlName="tipo_accion"
          />

          <label class="form-label" for="floatingTextarea">Notas sobre la acción</label>
          <textarea
            class="form-control textAreaAcciones"
            formControlName="descripcion_accion"
            placeholder="Escribe aquí las notas"
            id="floatingTextarea"
          ></textarea>
        </div>

        <!-- Columna 2 -->
        <div class="col">
          <label for="fecha_comienzo" class="form-label">Fecha de inicio</label>
          <input
            type="date"
            class="form-control"
            formControlName="fecha_comienzo"
          />

          <label for="fecha_limite" class="form-label">Fecha límite</label>
          <input
            type="date"
            class="form-control"
            formControlName="fecha_limite"
          />

          <label for="prioridad" class="form-label">Prioridad</label>
          <select class="form-select mb-3" formControlName="prioridad">
            <option value="">Selecciona prioridad</option>
            <option value="baja">Baja</option>
            <option value="normal">Normal</option>
            <option value="alta">Alta</option>
            <option value="urgente">Urgente</option>
          </select>

          <label for="estado_accion" class="form-label">Estado</label>
          <select class="form-select mb-3" formControlName="estado_accion">
            <option value="">Selecciona estado</option>
            <option value="iniciada">Iniciada</option>
            <option value="no_iniciada">No iniciada</option>
            <option value="programada">Programada</option>
            <option value="por_determinar">Por determinar</option>
            <option value="finalizada">finalizada</option>
          </select>
        </div>

        <!-- Botón de eliminación -->
        <div class="col-auto align-self-center">
          <button type="button" class="btn btn-danger" (click)="removeTask(i)">
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Botón para añadir tarea -->
<div class="text-center mt-3">
  <button type="button" class="btn btn-primary" (click)="addTask($event)">Añadir Tarea</button>
</div>


