<div class="container text-center">
    <div class="row">
      <div class="col">
        <form class="datosForm">
            <div class="mb-3">
              <label for="nombreComun" class="form-label">Nombre común</label>
              <input type="text" class="form-control" id="nombreComun" name="nombreComun">
            </div>
            <label for="dir" class="form-label">Barrio/Distrito</label>
            <select class="form-select mb-3" name="dir" id="dir" aria-label="Barrio/Distrito">
                <option value="0" selected>Barrio</option>
                <option value="1">Calle</option>
                <option value="2">Parque</option>
                <option value="3">Distrito</option>
              </select>
              <label class="form-label" for="floatingTextarea">Datos sobre la localización</label>
              <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Escribe aquí los datos" id="floatingTextarea"></textarea>
              </div>
          </form>
      </div>
      <div class="col">
        <form class="datosForm">
            <div class="mb-3">
              <label for="nombreCient" class="form-label">Nombre científico</label>
              <input type="text" class="form-control" id="nombreCient" name="nombreCient">
            </div>
            <div class="mb-3">
                <label for="calle" class="form-label">Calle</label>
                <input type="text" class="form-control" id="nombreCient" name="calle">
              </div>
              <div class="mb-3">
                <label for="fotoreg" class="form-label">Adjuntar foto</label>
                <input type="file" class="form-control" id="fotoreg" name="fotoreg" accept="image/*" capture="environment">

              </div>
          </form>
    </div>
