<p>tasks works!</p>
<div *ngIf="tareas && tareas.controls.length">
  <div *ngFor="let task of tareas.controls; let i = index" [formGroup]="getTaskFormGroup(i)">
    <label>Tipo de accion:</label>
    <input formControlName="tipo_accion" type="text">

    <label>Descripción accion:</label>
    <input formControlName="descripcion_accion" type="text">

    <label>Prioridad:</label>
    <input formControlName="prioridad" type="text">

    <label>Estado accion:</label>
    <input formControlName="estado_accion" type="text">

    <label>Fecha de comienzo:</label>
    <input formControlName="fecha_comienzo" type="date">

    <label>Fecha límite:</label>
    <input formControlName="fecha_limite" type="date">
    <!--IMPORTANTE poner el tipo button porque sino angular interpreta los btootnes dentro de un formulario
        como submit-->
    <button type="button" (click)="removeTask(i)">Eliminar</button>
  </div>
</div>
<button type="button" (click)="addTask($event)">Añadir Tarea</button>


  

  