
<h1 class="text-center">Identificación y Localización</h1>

<!--<app-datos_menu></app-datos_menu>-->
<form class="datosForm" [formGroup]="formGroup">
  <div class="container text-center">
    <div class="row">

      <div class="col">
        <div class="mb-3">
          <label for="codigo">Código:</label>
          <input id="codigo" class="form-control" formControlName="codigo" type="text">
        </div>
        <div class="mb-3">
          <label for="especie">Especie:</label>
          <input id="especie" class="form-control" formControlName="especie" type="text">
        </div>
        <div class="mb-3">
          <label for="nombreComun" class="form-label">Nombre común:</label>
          <input type="text" class="form-control" id="nombre_comun" formControlName="nombre_comun">
        </div>
      </div>

      <!--
            <label for="dir" class="form-label">Barrio/Distrito</label>
            <select class="form-select mb-3" formControlName="dir" id="dir" aria-label="Barrio/Distrito">
                <option value="0" selected>Barrio</option>
                <option value="1">Calle</option>
                <option value="2">Parque</option>
                <option value="3">Distrito</option>
              </select>
              <label class="form-label" for="floatingTextarea">Datos sobre la localización</label>
              <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Escribe aquí­ los datos" id="floatingTextarea"></textarea>
              </div>
      </div>
        <form class="datosForm">
          <div class="mb-3">
            <label for="nombreCient" class="form-label">Nombre cientí­fico</label>
            <input type="text" class="form-control" id="nombreCient" formControlName="nombreCient">
          </div>
          <div class="mb-3">
            <label for="calle" class="form-label">Calle</label>
            <input type="text" class="form-control" id="nombreCient" formControlName="calle">
          </div>
          <div class="mb-3">
            <label for="fotoreg" class="form-label">Adjuntar foto</label>
            <input type="file" class="form-control" id="fotoreg" formControlName="fotoreg" accept="image/*"
              capture="environment">
-->
      <div class="col">

        <div class="mb-3">
          <label for="barrio">Barrio:</label>
          <input id="barrio" class="form-control" formControlName="barrio" type="text">
        </div>
        <div class="mb-3">
          <label for="calle">Calle:</label>
          <input id="calle" class="form-control" formControlName="calle" type="text">
        </div>
        <div class="mb-3">
          <label for="notas_ubicacion">Notas ubicación:</label>
          <input id="notas_ubicacion" class="form-control" formControlName="notas_ubicacion" type="text">
        </div>
        <div class="mb-3">
          <label for="coordenadaX">Coordenada X:</label>
          <input id="coordenadaX" class="form-control" formControlName="coordenadaX" type="number">
        </div>
        <div class="mb-3">
          <label for="coordenadaY">Coordenada Y:</label>
          <input id="coordenadaY" class="form-control" formControlName="coordenadaY" type="number">
        </div>
      </div>
    </div>

<div class="fluid-container progreso">
    <div class="progress" role="progressbar" aria-label="Basic example" 
    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" style="width: 25%"></div>
    </div>
  </div>
<!--      <app-datos_menufooter></app-datos_menufooter> -->