<h1 class="text-center">Tareas</h1>
<div *ngIf="mensajeListaVacia.trim().length>0" class="alert  alert-info text-center w-75 fs-2 mx-auto" role="alert">{{mensajeListaVacia}}</div>
<div *ngIf="filtroOculto" class='container-fluid w-50 contMapa'>
  <label for="filtroInput" class="form-label">Filtrar por {{campoFiltro}}:</label>
  <input id="filtroInput" 
    [type]="campoFiltro === 'fecha_limite' || campoFiltro === 'fecha_comienzo' ? 'date' : 'text'" 
    [(ngModel)]="filtroValor" 
    class="form-control" />
  <div *ngIf="error" class="alert alert-danger" role="alert">
    {{mensajeError}}
  </div>
  <!-- Botón para enviar la información -->
  <button (click)="enviarFiltro()" [disabled]="filtroValor.trim().length === 0" class="btn btn-primary mt-2">Enviar</button>
</div>
<div class="dropdown filtro">
    <button type="button" class="btn-filtro btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="d-inline d-sm-none">
        <i class="fa-solid fa-filter"></i> <!-- Icono de embudo -->
      </span>
      <span class="d-none d-sm-inline">
        Filtrar
      </span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" (click)="aplicarFiltro('prioridad')">Por prioridad</a></li>
    <hr />
    <li><a class="dropdown-item" (click)="aplicarFiltro('fecha_limite')">Por fecha límite</a></li>
    <hr />
    <li><a class="dropdown-item" (click)="aplicarFiltro('fecha_comienzo')">Por fecha de comienzo</a></li>
    <hr />
    <li><a class="dropdown-item" (click)="aplicarFiltro('estado_accion')">Por estado</a></li>
    <hr />
    <li><a class="dropdown-item" (click)="aplicarFiltro('tipo_accion')">Por tipo</a></li>
    </ul>
  </div>
  <div *ngFor="let arbol of tareasArboles" class="list-group container-fluid" >
    <a (click)="enviarMostrar(arbol)" class="list-group-item list-group-item-action" style="margin-left: 5px;">
      <div class="row tareasLista ">
        <!-- Información del árbol -->
        <div class="col-md-2 d-flex justify-content-center  justify-content-md-start ">
          <img class="img-fluid img-fixed" [src]='arbol.imageUrl' />
        </div>
        <div class="col-md border-end col-sm-12 text-center text-md-start mt-3 mt-md-0">
          <p class="pTareas">Codigo: {{ arbol.codigo }}</p>
          <p class="pTareas">Nombre común: {{ arbol.nombre_comun || 'No disponible' }}</p>
          <p class="pTareas">Ubicación: {{ arbol.barrio || 'Sin barrio' }}</p>
        </div>

        <!-- Lista de tareas -->
         <!-- con stopPropagation evito que al hacer check en una tarea 
              se dispare el evento click y me envíe a mostrar atributos -->
              <div class="col-md-6">
                <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Finalizar</th>
                      <th>Tipo acción</th>
                      <th>Prioridad </th>
                      <th class="d-none d-lg-table-cell">Fecha comienzo</th>
                      <th class="d-none d-lg-table-cell">Fecha límite</th>
                      <th class="d-none d-md-table-cell">Estado</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let tarea of arbol.tasks">
                      <td>
                        <input
                          class="form-check-input"
                          type="checkbox"
                          [checked]="tarea.estado_accion === 'finalizada'"
                          (change)="toggleTareaEstado(tarea, tarea.id, $event)"
                          (click)="$event.stopPropagation()"
                        />
                      </td>
                      <td>{{ capitalize(tarea.tipo_accion) || 'Tarea sin descripción' }}</td>
                      <td>{{ capitalize(tarea.prioridad) || 'Ninguna' }}</td>
                      <td class="d-none d-lg-table-cell ">{{ tarea.fecha_comienzo || 'Sin fecha' }}</td>
                      <td class="d-none d-lg-table-cell">{{ tarea.fecha_limite || 'Sin fecha' }}</td>
                      <td class="d-none d-md-table-cell">{{ capitalize(tarea.estado_accion) || 'Sin estado' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              </div>
              
              <div class="col-md-1">
                <button type="button" (click)="forzarRecarga()" class="btn" style="
                display: flex; justify-content: center; align-items: center; width: 40px; height: 40px; padding: 0;  border: none; border-radius: 0%;">
                <i class="fa-solid fa-floppy-disk fa-3x"></i>
                </button>
              </div>
      </div>
    </a>
  </div>

  

