th {
    font-size: 1.5em;  /* Tamaño de letra para los títulos */
    font-weight: bold;
}
td {
    font-size: 1.2em;  /* Tamaño de letra para las celdas */
  }

  /* Mostrar la tabla en pantallas grandes */
.tabla-tareas {
    display: block;
  }
  
  /* Estilos para pantallas pequeñas */
  @media (max-width: 1640px) {
    .tabla-tareas {
      display: none; /* Ocultar la tabla en pantallas pequeñas */
    }
  
    .tarea-desplegable {
      margin: 10px 0;
      padding: 10px;
      background-color: #f8f9fa;
      border-radius: 5px;
    }
  }