<p>location-data works!</p>
<form [formGroup]="formGroup">
    <div>
      <label for="codigo">codigo:</label>
      <input id="codigo" formControlName="codigo" type="text">
    </div>
    <div>
      <label for="especie">especie:</label>
      <input id="especie" formControlName="especie" type="text">
    </div>
    <div>
      <label for="nombre_comun">nombre_comun:</label>
      <input id="nombre_comun" formControlName="nombre_comun" type="text">
    </div>
    <div>
      <label for="barrio">barrio:</label>
      <input id="barrio" formControlName="barrio" type="text">
    </div>
    <div>
      <label for="calle">calle:</label>
      <input id="calle" formControlName="calle" type="text">
    </div>
    <div>
      <label for="notas_ubicacion">notas_ubicacion:</label>
      <input id="notas_ubicacion" formControlName="notas_ubicacion" type="text">
    </div>
    <div>
        <label for="coordenadaX">coordenadaX:</label>
        <input id="coordenadaX" formControlName="coordenadaX" type="number">
    </div>
    <div>
        <label for="coordenadaY">coordenadaY:</label>
        <input id="coordenadaY" formControlName="coordenadaY" type="number">
    </div>
  </form>