<h1 class="text-center titAyuda">¿Necesitas ayuda?</h1>
<h2 class="text-center">Ponte en contacto con nosotros en:</h2>
<h2 class="text-center"><span class="copyEmail" (click)="copyEmail()">info&#64;zuhaitzguneapp.eus</span> <i class="fa-solid fa-copy fa-l"></i></h2>



<div class="container text-center contAyuda">
    <div class="row">
      <div class="col">
        <h3>FAQ's</h3>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  ¿Cómo solicito acceso?
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Deberás solicitar acceso al administrador de la aplicación correspondiente.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  ¿Puedo añadir nuevos registro?
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Si tienes acceso, podrás añadir un nuevo registro desde el menu en "Registrar Datos"</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  ¿Cómo elimino una tarea existente?
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">En el menú, selecciona "Registrar Datos", luevo dirígete a "Tareas" y pulsa sobre el botón de "Eliminar"</div>
              </div>
            </div>
          </div>
      </div>
      <div class="col">
        <h3>Guías</h3>
        <div class="guias"><h4>Echa un vistazo a nuestra guía</h4><a class="guia" href="#">Aquí</a></div>
        <div class="guias"><h4>También puedes ver nuestra explicación adaptada en LSE</h4><a class="guia" href="#">Aquí</a></div>
      </div>
    </div>
  </div>



