<div class="btn-group1 container">
<button [routerLink]="['/identificacion']" class="btn-menu"><i class="fa-solid fa-fingerprint fa-2xl"></i> Identificación y localización</button>
<button [routerLink]="['/biometria']" class="btn-menu"><i class="fa-solid fa-dna fa-2xl"></i> Datos biométricos</button>
<button [routerLink]="['/salud']" class="btn-menu"><i class="fa-solid fa-heart-pulse fa-2xl"></i> Estado sanitario</button>
<button [routerLink]="['/actuaciones']" class="btn-menu"><i class="fa-solid fa-triangle-exclamation fa-2xl"></i> Acciones</button>
</div>