<h1 class="text-center">Árboles</h1>

<div class="container mt-4 text-center card-cont">
  <div class="row">
    <div *ngFor="let item of this.arboles" class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img class="img-card" src="/assets/img/Zuhaitzguneapp.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ item.nombre_comun }}</h5>
          <p class="card-text">
            Barrio: {{item.barrio}} <br> Calle: {{item.calle}}
          </p>
          <button class="btn-cards" (click)="enviarMostrar(item)"> {{ item.codigo }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<h1 class="text-center">Árboles</h1>

<div class="container text-center card-cont">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="img-card" src="/assets/img/Zuhaitzguneapp.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn-cards">Go somewhere</button>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/assets/img/Zuhaitzguneapp.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn-cards">Go somewhere</button>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/assets/img/Zuhaitzguneapp.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn-cards">Go somewhere</button>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/assets/img/Zuhaitzguneapp.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn-cards">Go somewhere</button>
            </div>
          </div>
      </div>
    </div>
-->


<!-- <h1>TARJETAS/ARBOL</h1>
<h2>DETALLE DEL ARBOL</h2>
<p>Id:  {{id}}</p>
<p>Altura:  {{altura}}</p>
<p>Diametro:  {{diametro}}</p>
<p>Nombre:  {{nombre}}</p>

<button (click)="mapa()">MAPA</button> -->