<h1 class="text-center">Tareas</h1>

<div class="dropdown filtro">
    <button type="button" class="btn-filtro btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Filtrar
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Por prioridad</a></li>
      <hr>
      <li><a class="dropdown-item" href="#">Por fecha límite</a></li>
      <hr>
      <li><a class="dropdown-item" href="#">Por fecha de comienzo</a></li>
      <hr>
      <li><a class="dropdown-item" href="#">Por estado</a></li>
      <hr>
      <li><a class="dropdown-item" href="#">Por tipo</a></li>
      <hr>
      <li><a class="dropdown-item" href="#">Por ubicación</a></li>
    </ul>
  </div>

  <div class="list-group container-fluid">
    <a href="#" class="list-group-item list-group-item-action">
      <div class="row tareasLista">
<div class="col">
  <img class="img-fluid tareas-img" src="/assets/img/Zuhaitzguneapp.png">
</div>
<div class="col">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Podar árbol
    </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Tratar hongos
      </label>
      </div>
</div>
<div class="col">
  <p class="mb-1">Some placeholder content in a paragraph.</p>
  <small>And some small print.</small>
</div>
</div>
</a>
</div>

<div class="list-group container-fluid">
  <a href="#" class="list-group-item list-group-item-action">
    <div class="row tareasLista">
<div class="col">
<img class="img-fluid tareas-img" src="/assets/img/Zuhaitzguneapp.png">
</div>
<div class="col">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Podar árbol
    </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Tratar hongos
      </label>
      </div>
</div>
<div class="col">
<p class="mb-1">Some placeholder content in a paragraph.</p>
<small>And some small print.</small>
</div>
</div>
</a>
</div>

<div class="list-group container-fluid">
  <a href="#" class="list-group-item list-group-item-action">
    <div class="row tareasLista">
<div class="col">
<img class="img-fluid tareas-img" src="/assets/img/Zuhaitzguneapp.png">
</div>
<div class="col">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Podar árbol
    </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Tratar hongos
      </label>
      </div>
</div>
<div class="col">
<p class="mb-1">Some placeholder content in a paragraph.</p>
<small>And some small print.</small>
</div>
</div>
</a>
</div>
  

