
<h1 class="text-center">Estado Sanitario</h1>



<div class="container text-center">
    <div class="row">
      <div class="col">
        <form class="datosForm" [formGroup]="formGroup">
            <div class="mb-3">
              <label for="plagas" class="form-label">Plagas</label>
              <input type="text" class="form-control" id="plagas" formControlName="plagas" name="plagas">
            </div>
            <label for="estado" class="form-label">Estado sanitario</label>
            <select class="form-select mb-3" name="estado" id="estado" formControlName="estado" aria-label="Estado Sanitario">
                <option value="bueno" selected>Bueno</option>
                <option value="regular">Regular</option>
                <option value="afectado">afectado</option>
                <option value="muy_afectado">Muy afectado</option>
              </select> 
            <label for="riesgos" class="form-label">Riesgos asociados</label>
            <select class="form-select mb-3" name="riesgos" id="riesgos" formControlName="riesgos" aria-label="riesgos">
                <option value="ninguno" selected>Ninguno</option>
                <option value="bajo">Bajo</option>
                <option value="medio">Medio</option>
                <option value="alto">Alto</option>
              </select>    
          </form>
      </div>
      <div class="col">
        <form class="datosForm" [formGroup]="formGroup">
            <div class="mb-3">
              <label for="enfermedades" class="form-label">Enfermedades</label>
              <input type="text" class="form-control" id="enfermedades" formControlName="enfermedades" name="enfermedades">
            </div>
            <label for="afecciones_abioticas" class="form-label">Daños abióticos</label>
            <select class="form-select mb-3" name="afecciones_abioticas" id="afecciones_abioticas" formControlName="afecciones_abioticas" aria-label="Daños abióticos">
                <option value="ninguna" selected>ninguna</option>
                <option value="roturas">roturas</option>
                <option value="quemado">quemado</option>
                <option value="congelaciones">congelaciones</option>
              </select> 
              <label class="form-label" for="floatingTextarea">Notas sobre el estado sanitario</label>
              <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Escribe aquí las notas" formControlName="notas" id="floatingTextarea"></textarea>
              </div>
          </form>
    </div>
