<h1 class="text-center login">Iniciar sesion</h1>

<form [formGroup]="loginForm" (ngSubmit)="login()" class="acceso">
    <div class="mb-3">
      <label for="nombreUsuario" class="form-label d-block text-center">Nombre de usuario</label>
      <input type="text" class="form-control" id="nombreUsuario" formControlName="username" aria-describedby="username" required>
    </div>
    <div class="mb-3">
      <label for="contrasenia" class="form-label d-block text-center">Contraseña</label>
      <input type="password" class="form-control" id="contrasenia" formControlName="password" minlength="8" required>
      <div *ngIf="passwordControl?.invalid && (passwordControl?.dirty || passwordControl?.touched)">
        <small *ngIf="passwordControl?.errors?.['required']" class="text-danger">La contraseña es requerida.</small>
        <small *ngIf="passwordControl?.errors?.['minlength']" class="text-danger">
          La contraseña debe tener al menos 8 caracteres.
        </small>
      </div>
    </div>
    <div class="container-fluid btn-acceso">
    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-right-to-bracket fa-xl"></i> Acceder</button>
    </div>
  </form>
  <div *ngIf="loginMessage" class="alert text-center" [ngClass]="{'alert-success': loginMessage === 'Login correcto', 'alert-danger': loginMessage === 'Login incorrecto'}">
    {{ loginMessage }}
  </div>
  <h3 class="text-center solicitarAcceso">Solicita acceso aquí</h3>