<div class="btn-group1 container">
<button [routerLink]="['/locationData']" class="btn-menu"><i class="fa-solid fa-fingerprint fa-2xl"></i> Identificación y localización</button>
<button [routerLink]="['/dasometricStatus']" class="btn-menu"><i class="fa-solid fa-dna fa-2xl"></i> Datos biométricos</button>
<button [routerLink]="['/healthStatus']" class="btn-menu"><i class="fa-solid fa-heart-pulse fa-2xl"></i> Estado sanitario</button>
<button [routerLink]="['/tasks']" class="btn-menu"><i class="fa-solid fa-triangle-exclamation fa-2xl"></i> Acciones</button>
<!--

<button class="btn d-inline-block" type="button" (click)="setSection('locationData')"><i class="fa-solid fa-map fa-xl"></i> Datos Identificacion-localizacion</button>
<button class="btn d-inline-block" type="button" (click)="setSection('dasometricData')"><i class="fa-solid fa-map fa-xl"></i> Datos Dasométricos</button>
<button class="btn d-inline-block" type="button" (click)="setSection('healthStatus')"><i class="fa-solid fa-map fa-xl"></i> Estado Sanitario</button>
<button class="btn d-inline-block" type="button" (click)="setSection('tasks')"><i class="fa-solid fa-map fa-xl"></i> Tareas</button>
-->
</div>