<p>mostrar-atributos works!</p>
<div *ngIf="attributes">

  <h1 class="text-center">Atributos del árbol seleccionado</h1>
  <!-- Botón para activar/desactivar el modo de edición -->
  <button class="btn d-inline-block" (click)="toggleEditMode()" [class.active]="isEditMode"><i
      class="fa-solid fa-map fa-xl"></i>
    Editar Árbol
  </button>
  <button class="btn d-inline-block" (click)="mapaid()"><i class="fa-solid fa-map fa-xl"></i> Mapa id</button>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div *ngFor="let key of attributeKeys; let i = index">
          <!-- Verifica si es un array de tareas -->
          <ng-container *ngIf="key === 'tasks'">
            <ul>
              <li *ngFor="let task of attributes[key]">
                <!-- Muestra los detalles de cada tarea individual -->
                <strong>Tarea:</strong> {{ task.nombre || task.tarea }}<br>
                <strong>Descripción:</strong> {{ task.descripcion }}<br>
                <strong>Prioridad:</strong> {{ task.prioridad }}<br>
                <strong>Estado:</strong> {{ task.estado }}<br>
                <strong>Fecha de Inicio:</strong> {{ task.fecha_inicio }}<br>
                <strong>Fecha Límite:</strong> {{ task.fecha_limite }}
              </li>
            </ul>
          </ng-container>
          <!-- Muestra otros atributos normalmente -->
          <ng-container *ngIf="key !== 'tasks'">
            <div class="mb-3">{{ key }}:{{ attributes[key] }}</div>
          </ng-container>


        </div>



      </div>

      <div *ngIf="!attributes">
        <p>Selecciona un árbol en el mapa para ver sus atributos.</p>
      </div>