
<h1 class="text-center">Mapa</h1>
<div id="map" class="map container-fluid"></div>


 <h1 class="text-center">MUNICIPIO DE BILBAO</h1>

 <div class="container-fluid contMapa">
    <div class="row align-items-center">
      <!-- Columna 1: Formulario de búsqueda -->
      <div class="col d-flex align-items-center">
        <input 
          type="text" 
          id="barrio" 
          [(ngModel)]="barrio"
          class="form-control me-2"
          placeholder="Barrio" 
          aria-label="Search"
        />
        <button class="btn btn-outline-success me-2" (click)="onSearchClick()">Buscar</button>
      </div>
      <!-- Columna 2: Botones de Crear y Editar Árbol -->
      <div class="col d-flex justify-content-end align-items-center">
        <button
          (click)="toggleCreateMode()"
          class="btn btn-outline-success me-2"
          [class.active]="isCreateMode"
        >
          Crear Árbol
        </button>
        <button
          (click)="toggleEditMode()"
          class="btn btn-outline-success"
          [class.active]="isEditMode"
        >
          Editar Árbol
        </button>
      </div>
    </div>
  </div>