
<h1 class="text-center">Estado Sanitario</h1>

<!-- <app-datos_menu></app-datos_menu> -->
<form class="datosForm" [formGroup]="formGroup">
  <div class="container text-center">
    <div class="row">
      <div class="col-md">
        <div class="mb-3 col-12">
          <label for="plagas" class="form-label">Plagas</label>
          <input type="text" class="form-control" id="plagas" formControlName="plagas">
        </div>
        <div class="mb-3 col-12">
          <label for="enfermedades" class="form-label">Enfermedades:</label>
          <input class="form-control" formControlName="enfermedades" id="enfermedades" type="text" />
        </div>
        <div class="mb-3 col-12">
          <label for="riesgos" class="form-label">Riesgos:</label>
          <input class="form-control" formControlName="riesgos" id="riesgos" type="text" />
        </div>
      </div>

      <div class="col-md">
        <div class="mb-3 col-12">
          <label for="estado" class="form-label">Estado:</label>
          <input class="form-control" formControlName="estado" id="estado" type="text" />
        </div>
        <div class="mb-3 col-12">
          <label for="afecciones_abioticas" class="form-label">Afecciones abioticas:</label>
          <input class="form-control" formControlName="afecciones_abioticas" id="afecciones_abioticas"  type="text" />
        </div>
        <div class="mb-3 col-12">
          <label for="notas" class="form-label">Notas:</label>
          <input class="form-control" formControlName="notas" id="notas"  type="text" />
        </div>
      </div>
 
      <div class="fluid-container progreso">
        <div class="progress" role="progressbar" aria-label="Basic example" 
          aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar" style="width: 75%"></div>
        </div>
      </div>
    </div>
  </div>
</form>
        