
    <!-- Botón para cambiar entre secciones -->
<div class="btn-group1 container">
    <button type="button" (click)="setSection('locationData')" class="btn-menu"><i class="fa-solid fa-fingerprint fa-2xl"></i>Datos Identificacion-localizacion</button>
    <button type="button" (click)="setSection('dasometricData')" class="btn-menu"><i class="fa-solid fa-dna fa-2xl"></i>>Datos Dasométricos</button>
    <button type="button" (click)="setSection('healthStatus')" class="btn-menu"><i class="fa-solid fa-heart-pulse fa-2xl"></i>Estado Sanitario</button>
    <button type="button" (click)="setSection('tasks')" class="btn-menu"><i class="fa-solid fa-triangle-exclamation fa-2xl"></i>Tareas</button>
</div>
<form [formGroup]="treeForm" (ngSubmit)="onSubmit()">
    <app-location-data *ngIf="currentSection === 'locationData'" 
    [formGroup]="localizacion">
    </app-location-data>
    <!-- Sección de Datos dasométricos -->
    <app-dasometric-data *ngIf="currentSection === 'dasometricData'" 
    [formGroup]="dasometria">
    </app-dasometric-data>
    
    <!-- Sección de Estado Sanitario -->
    <app-health-status *ngIf="currentSection === 'healthStatus'" 
      [formGroup]="estadoSanitario">
    </app-health-status>
  
    <!-- Sección de Tareas -->
    <app-tasks *ngIf="currentSection === 'tasks'" 
      [formGroup]="treeForm">
    </app-tasks>

    <div class="btn-group2 justify-content-center">
        <button type="submit" class="btn-footer">
            <i class="fa-solid fa-floppy-disk fa-2xl"></i>
        </button>
        <button type="button" class="btn-footer" (click)="navigate('previous')">
            <i class="fa-solid fa-arrow-left-long fa-2xl"></i>
        </button>
        <button type="button" class="btn-footer" (click)="navigate('next')">
            <i class="fa-solid fa-arrow-right-long fa-2xl"></i>
        </button>
    </div>
  
    <!-- Botón para enviar el formulario -->
    
  </form>