<p>health-status works!</p>
<div [formGroup]="formGroup">
    <label>Plagas:</label>
    <input formControlName="plagas" type="text" />
  
    <label>Enfermedades:</label>
    <input formControlName="enfermedades" type="text" />
  
    <label>Riesgos:</label>
    <input formControlName="riesgos" type="text" />

    <label>Estado:</label>
    <input formControlName="estado" type="text" />
  
    <label>Afecciones abioticas:</label>
    <input formControlName="afecciones_abioticas" type="text" />
  
    <label>notas:</label>
    <input formControlName="notas" type="text" />
  </div>